<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали книги</title>
</head>
<body>
    <section>
        <div>
            <h3> Название: {{book_object.title}} </h3>
            <h3> Подзаголовок книги: {{ book_object.subtitle}} </h3>
            <h3> Описание: {{book_object.description}} </h3>
            <h3> Автор: {{ book_object.author }} - Жанр: {{book_object.genre}} - Дата выхода: {{book_object.year}} </h3>
            <h3> Цена: {{ book_object.price }} сом </h3>
        </div>
    </section>
</body>
</html>